<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/bright_ideas.css')}}">
    <title>Bright Ideas</title>
</head>
<body>
    <div class="container">
        {% with messages=get_flashed_messages() %} {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %} {% endwith %}
        <h3>Hi {{session['user_logged_in']['first']}}, do you have any<img src="/static/images/brightideas.png"> today?</h3>
        <form action="/add_post" method="POST">
            <div class="form-group">
                <label for="message"></label>
                <input type="text" class="form-control" name="message" placeholder="Post something witty here">
            </div>
           <button type="submit" class="btn btn-primary">Post an Idea!</button>
            <br>
        </form>
        <div class="post">
            <ul style="list-style: none;"> 
                {% for post in posts %}
                    <li>
                        <a href="/users/{{post.author_id}}"><p><b>{{post.author.first_name}}</b></a> says: {{post.message}}</p>
                        <div class="form-inline">
                                <!-- {% if post.id in liked_posts %}   -->
                                    <!-- <form action="/posts/{{post.id}}/unlike" method="POST">
                                        <input type="image" src="/static/images/dislikeimage.png">
                                    </form> -->
                                <!-- {% else: %} -->
                                    <form action="/posts/{{post.id}}/like" method="POST">
                                        <input type="image" src="/static/images/likeimage.png">
                                    </form>
                                <!-- {% endif %} -->
                              
                                <form action="/posts/{{post.id}}/delete" method="POST">
                                    <input type="image" src="/static/images/delete.png">
                                </form>
                            
                            <div class="edit">  
                                <button>
                                    <a href="/posts/{{post.id}}/edit">edit</a>
                                </button>
                            </div>  
                            <a href="/brightideas/{{post.id}}"><p>{{post.likers | length}} people </a> like this</p>   
                        </div>
                    </li>
                {% endfor %}
            </ul>   
        </div>
    </div>     
    
    <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
<!-- <script>
$(document).ready(function(){   
    function get_posts(){
        $.ajax({
            url: "/get_posts_ajax/{{session['user_id']}}",
            method: 'GET',
        }).done(function(response){
                console.log(response);
            })
    }
    
    setInterval(get_posts, 3000);
});
</script> -->